config NET_SCH_PSP
	tristate "Precise Software Pacer (PSP)"
	---help---
	  Say Y here if you want to include PSPacer module, which means
	  that you will be able to control precise pacing.

	  To compile this driver as a module, choose M here: the
	  module will be called sch_psp.

config NET_SCH_PSP_PKT_GAP
	bool "Allow individual per-packet gap"
	depends on NET_SCH_PSP
	---help---
	 Say Y if you want to every packets clocks provide additional
	 gaps/delay, based on TCP/IP tracking. Say N to use individual
	 packet clocks only to sorting packets in PFIFO or SFQ leaf queue
	 and delay only on busy queue.
	 
	 To allow minimal packet delay, faster delivering and maximal channel
	 filling say N. To trying minimize packet lost if you believe to
	 algorithms ;) - say Y.

config NET_SCH_PSP_NO_SYN_FAIRNESS
	bool "Disable SYN fairness code"
	depends on NET_SCH_PSP
	---help---
	 Say N to SYN-fairness add-ons to PSP tracking code.
	 Say Y to disable this and produce more precise statistics
	 to automatic traffic tuning.
	 
	 This code count SYN partially as retransmission packet and slow down
	 related connection and nearest IP-tree area.
	 
	 Say N to possible solve native SYN-storms/peaks or attacks.
	 Possible (unsure) say Y with PKT_GAP feature.
